@font-face {
  font-family: 'Gotham';
  src: url(/fonts/GothamPro/gothampro.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Gotham bold';
  src: url(fonts/GothamPro/gothampro_bold.ttf) format('truetype');
  font-weight: 700;
}