@import "reset";
@import "fonts";

html{
  font-family: Gotham;
  font-size: 62.5%;
}

nav{
  width: 100vw;
  height: 8rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  background-image: linear-gradient(92deg, #9e0b37 1%, #ffc531 72%, #9e0b37 100%);
  .nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__titles{
      display: flex;
      &__title{
        cursor: pointer;
        padding-right: 4.5rem;
      }
    }
    &__buttons{
      display: flex;
      align-items: center;
      &__button{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
          text-decoration: none;
        }
        &:nth-child(1){
          padding-right: 4.5rem;
        }

        }
      }
    }
    .volume{
      padding: 24px;
      width: 100%;
      height: 49px;
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 42px;
      border-radius: 40px;
      box-shadow: inset 4px 4px 6px 0 rgba(255, 255, 255, 0.5), 4px 4px 20px 0 rgba(223, 80, 23, 0.8);
      background-color: rgba(158, 11, 55, 0.7);
    }
  }
}